/*   btn  */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 1.2rem 3rem;
  color: #fafafa;
  background-color: #f25f3a;
  outline: none;
  border: none;
  border-radius: 20px;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

.btn::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-box-shadow: -1px 10px 23px -11px #ff4c1f;
          box-shadow: -1px 10px 23px -11px #ff4c1f;
  border-radius: 20px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn:hover::before {
  -webkit-box-shadow: -1px 10px 10px -8px #ff4c1f;
          box-shadow: -1px 10px 10px -8px #ff4c1f;
}

.btn:hover {
  opacity: .8;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 3rem;
  margin-top: 10rem;
  overflow: hidden;
}

@media only screen and (min-width: 56.25em) {
  .about {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20rem;
  }
}

.about__maindetials {
  text-align: center;
}

@media only screen and (min-width: 56.25em) {
  .about__maindetials {
    text-align: left;
  }
}

.about__mainheading {
  font-size: 3rem;
  color: #242d52;
  margin-bottom: 2rem;
}

.about__sub {
  color: #9095a7;
  font-size: 1.6rem;
}

.about .aboutdetials .contents {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7rem 1fr;
      grid-template-columns: 7rem 1fr;
  -ms-grid-rows: 5rem auto;
      grid-template-rows: 5rem auto;
  gap: 2rem;
}

.about .aboutdetials .contents:not(:last-child) {
  margin-bottom: 2rem;
}

.about .aboutdetials .contents .number {
  width: 6.5rem;
  height: 4rem;
  background-color: #f25f3a;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.4rem;
  position: relative;
}

.about .aboutdetials .contents .number::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: #f25f3a;
  left: 0;
  top: 0;
  border-radius: 20px 0px 0px 20px;
  z-index: -1;
  opacity: .1;
}

@media only screen and (min-width: 56.25em) {
  .about .aboutdetials .contents .number::before {
    display: none;
  }
}

.about .aboutdetials .contents .heading {
  color: #242d52;
  font-size: 1.4rem;
  margin-top: .9rem;
}

.about .aboutdetials .contents .sub {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  color: #9095a7;
  font-size: 1.6rem;
}

footer {
  background-color: #f25f3a;
  height: auto;
  padding: 2rem 0;
}

footer figure {
  text-align: center;
  margin-bottom: 1rem;
}

@media screen and (max-width: 700px) {
  footer {
    height: auto;
  }
}

footer ul {
  margin-bottom: 2rem;
}

@media screen and (max-width: 700px) {
  footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer ul li {
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 2rem;
}

@media screen and (max-width: 700px) {
  footer ul li {
    padding: 1rem;
  }
}

footer ul li a {
  color: white;
}

footer p {
  text-align: center;
  font-size: 1.2rem;
  color: white;
}

header {
  position: relative;
}

header .logo img {
  max-width: 11rem;
  margin-top: .7rem;
}

@media only screen and (min-width: 56.25em) {
  header {
    position: static;
    height: 16rem;
  }
}

header .ham {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3rem;
  height: 2rem;
  cursor: pointer;
}

@media only screen and (min-width: 56.25em) {
  header .ham {
    display: none;
  }
}

header .ham .hammenu {
  width: 2.5rem;
  height: .24rem;
  background-color: #242d52;
  display: inline-block;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
}

header .ham .hammenu::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f25f3a;
  top: 6px;
  left: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header .ham .hammenu::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f25f3a;
  bottom: 7px;
  left: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header .active {
  display: none;
}

header #toggle:checked ~ .navbar {
  visibility: visible;
  opacity: 1;
}

header #toggle:checked ~ .navbar > ul {
  opacity: 1;
}

header #toggle:checked ~ .ham > .hammenu::after {
  -webkit-transform: scaleX(0.7);
          transform: scaleX(0.7);
}

header #toggle:checked ~ .ham > .hammenu::before {
  -webkit-transform: scaleX(0.7);
          transform: scaleX(0.7);
}

header .navbar {
  visibility: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 84, 128, 0)), to(rgba(0, 0, 3, 0.76092)));
  background: linear-gradient(180deg, rgba(84, 84, 128, 0) 0%, rgba(0, 0, 3, 0.76092) 100%);
  -webkit-transition: all .4s;
  transition: all .4s;
  opacity: 0;
}

@media only screen and (min-width: 56.25em) {
  header .navbar {
    background: none;
    position: static;
    visibility: visible;
    opacity: 1;
    width: auto;
  }
}

header .navbar__items {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  min-width: 33rem;
  height: 29rem;
  background-color: #fafafa;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in .1s;
  transition: opacity .3s ease-in .1s;
}

@media only screen and (min-width: 56.25em) {
  header .navbar__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    -webkit-transform: translatex(0);
            transform: translatex(0);
    background: none;
    opacity: 1;
    width: auto;
    min-width: none;
    height: auto;
    gap: 3rem;
  }
}

header .navbar__links {
  font-size: 1.4rem;
  color: #1d1e25;
  font-weight: 700;
}

@media only screen and (min-width: 56.25em) {
  header .navbar__links {
    font-weight: 500;
    padding: 5px;
    font-size: 1.4rem;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
}

@media only screen and (min-width: 56.25em) {
  header .navbar__lists:hover > a {
    color: #9095a7;
  }
}

header .btnheader {
  display: none;
}

@media only screen and (min-width: 56.25em) {
  header .btnheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.test {
  max-width: 111rem;
  margin: 5rem auto;
  padding: 2rem;
  height: 100%;
}

.test__mainheading {
  font-size: 3rem;
  color: #242d52;
  text-align: center;
  margin-bottom: 10rem;
}

.test__reviwes {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

@media screen and (max-width: 700px) {
  .test__reviwes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.test__testimo {
  text-align: center;
  padding: 1rem;
  width: 100%;
  background-color: #fafafa;
  top: 0;
}

@media screen and (max-width: 700px) {
  .test__testimo {
    margin-bottom: 6rem;
  }
}

.test__subhead {
  font-size: 1.6rem;
  color: #242d52;
}

.test__detials {
  font-size: 1.6rem;
  color: #9095a7;
  line-height: 1.5;
}

.test__img {
  width: 7rem;
  height: 7rem;
  margin-top: -5rem;
}

.hero {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

@media only screen and (min-width: 56.25em) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hero__detials {
  text-align: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media only screen and (min-width: 56.25em) {
  .hero__detials {
    text-align: left;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.hero__mainheading {
  font-size: 4.1rem;
  color: #242d52;
  font-weight: 700;
  max-width: 60rem;
  margin: auto;
}

.hero__detial {
  color: #9095a7;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 1rem;
}

@media only screen and (min-width: 56.25em) {
  .hero__detial {
    margin-top: 4rem;
    margin-bottom: 4rem;
    max-width: 40rem;
  }
}

.hero .btnhero {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

@media only screen and (min-width: 56.25em) {
  .hero .btnhero {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
}

.hero .heroimg {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 56.25em) {
  .hero .heroimg {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.hero .heroimg .img {
  width: 100%;
  height: 100%;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Be Vietnam', sans-serif;
  background-image: url(/images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position-x: 100rem;
  background-position-y: -20rem;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex--jc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex--jsp {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex--ai {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 111rem;
  margin: auto;
}

.container--pall {
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.container--px {
  padding-right: 2rem;
  padding-left: 2rem;
}

.container--py {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
/*# sourceMappingURL=main.css.map */