
$BrightRed: hsl(12, 88%, 59%);
$DarkBlue: hsl(228, 39%, 23%);
$DarkGrayishBlue: hsl(227, 12%, 61%);
$VeryDarkBlue: hsl(233, 12%, 13%);
$VeryPaleRed: hsl(13, 100%, 96%);
$VaryLightGray: hsl(0, 0%, 98%);


$fontsizeh1: 4.1rem;
$fontsizeh2: 1.4rem;
$fontsizeh3:1.6rem;
$fontsizeh4:3rem;
